<%= turbo_stream.remove dom_id(@note) %>

<% if @youtube_video.notes.reload.where(is_visible: true).empty? %>
  <%= turbo_stream.update "notes_list" do %>
    <p id="no_notes_message">メモがありません。</p>
  <% end %>
<% end %>
