<div class="container px-4 w-full">
  <div class="btn-group mt-4">
    <%= link_to '自分のメモを表示', notes_path(filter: 'my_notes'), class: 'btn btn-primary' %>
    <%= link_to '全員のメモを表示', notes_path(filter: 'all_notes'), class: 'btn btn-secondary' %>
  </div>

  <div class="m-4">
    <% if @notes.present? %>
      <ul class="list-disc list-inside space-y-4">
        <% @notes.each do |note| %>
          <% if note.is_visible || note.user == current_user %> <!-- アクセス権の確認 -->
            <li class="card bg-base-100 shadow-md p-4 mb-4">
              <div class="flex justify-between items-center">
                <div class="card-body">
                  <%= render 'notes/note_list', note: note %>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="text-center">
        <%= paginate @notes %>
      </div>
    <% else %>
      <div class="alert alert-info">
        ノートはありません。
      </div>
    <% end %>
  </div>
</div>
