<header>
  <div>
    <ul class="navbar-nav ms-auto main-nav align-items-center">
      <li class="nav-item">
        <%= link_to t('header.login'), login_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</header>
