<footer class="footer footer-center p-4 bg-base-300 text-base-content w-full">
  <div>
    <p>
      <%= link_to '利用規約', agreement_path, class: "link link-hover" %>
    </p>
    <p>
      <%= link_to 'プライバシーポリシー', privacy_path, class: "link link-hover" %>
    </p>
    <p>Copyright © 2024. ViMemo</p>
  </div>
</footer>
