<header>
  <div>
    <ul class='navbar-nav ms-auto main-nav align-items-center'>
      <li class='nav-item dropdown dropdown-slide'>
        <div class='dropdown-menu dropdown-menu-end'>
          <div class='dropdown-item'><%= current_user.name %></div>
          <div class='dropdown-divider'></div>
          <%= link_to 'プロフィール', users_mypage_path, class: 'dropdown-item' %>
          <%= link_to t('header.logout'),logout_path, class: 'dropdown-item', data: { turbo_method: :delete } %>
        </div>
      </li>
    </ul>
  </div>
</header>
