<div class="container mb-5 pt-2 px-4 sm:px-6 lg:px-8 max-w-full sm:max-w-xl md:max-w-2xl lg:max-w-4xl">
  <h1 class="text-3xl font-bold mb-4 text-left">Youtube&投稿ビデオ一覧</h1>
  <div class="col-md-12">
    <%= render partial: 'admin/videos/video', collection: @paginated_videos, as: :youtube_video %>
    <%= paginate @paginated_videos %>
  </div>
</div>